<div class="sidebar">
    <div class="sidebar-menu-container">
      <div class="sidebar-card sidebar-header grid">
        <img
          src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
          alt=""
          class="sidebar-img sidebar-hd-img"
        />
        <span class="sidebar-title card-title"> Lorem, ipsum. </span>
        <span class="card-subtitle sidebar-subtitle">Lorem.</span>
        <span class="sidebar-btn"> Change </span>
      </div>
      <div class="suggestions-header grid">
        <span class="suggestions-text"> Suggestions for you </span>
        <span class="sidebar-btn-alt"> See all </span>
      </div>
      <div class="sidebar-card sidebar-card-alt grid">
        <img
          src="https://images.unsplash.com/photo-1657000529335-5c1bf76204af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
          alt=""
          class="sidebar-img side-bar-img-alt"
        />
        <span class="sidebar-title card-title"> Lorem, ipsum. </span>
        <span class="card-subtitle sidebar-subtitle sidebar-subtitle-alt"
          >Lorem.</span
        >
        <span class="sidebar-btn"> Follow </span>
      </div>
      <div class="sidebar-card sidebar-card-alt grid">
        <img
          src="https://images.unsplash.com/photo-1656143269388-e65183fac19f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
          alt=""
          class="sidebar-img side-bar-img-alt"
        />
        <span class="sidebar-title card-title"> Lorem, ipsum. </span>
        <span class="card-subtitle sidebar-subtitle sidebar-subtitle-alt"
          >Lorem.</span
        >
        <span class="sidebar-btn"> Follow </span>
      </div>
      <div class="sidebar-card sidebar-card-alt grid">
        <img
          src="https://images.unsplash.com/photo-1656863949585-2bd7f7d0f3d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
          alt=""
          class="sidebar-img side-bar-img-alt"
        />
        <span class="sidebar-title card-title"> Lorem, ipsum. </span>
        <span class="card-subtitle sidebar-subtitle sidebar-subtitle-alt"
          >Lorem.</span
        >
        <span class="sidebar-btn"> Follow </span>
      </div>
      <div class="sidebar-card sidebar-card-alt grid">
        <img
          src="https://images.unsplash.com/photo-1656858772675-49e73a27d22b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
          alt=""
          class="sidebar-img side-bar-img-alt"
        />
        <span class="sidebar-title card-title"> Lorem, ipsum. </span>
        <span class="card-subtitle sidebar-subtitle sidebar-subtitle-alt"
          >Lorem.</span
        >
        <span class="sidebar-btn"> Follow </span>
      </div>
    </div>
  </div>