<div class="pop-wrapper flex-container">
  <span class="pop flex-container">
    <div class="pop-img-container">
      <img
        src="https://images.unsplash.com/photo-1488161628813-04466f872be2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
        alt=""
        class="pop-img"
      />
    </div>
    <p class="pop-text">Lorem.</p>
  </span>

  <span class="pop flex-container">
    <div class="pop-img-container">
      <img
        src="https://images.unsplash.com/photo-1657214059189-6bace4ad1ab8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80"
        alt=""
        class="pop-img"
      />
    </div>
    <p class="pop-text">Lorem.</p>
  </span>
  <span class="pop flex-container">
    <div class="pop-img-container">
      <img
        src="https://images.unsplash.com/photo-1548366565-6bbab241282d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
        alt=""
        class="pop-img"
      />
    </div>
    <p class="pop-text">Lorem.</p>
  </span>
  <span class="pop flex-container">
    <div class="pop-img-container">
      <img
        src="https://images.unsplash.com/photo-1521146764736-56c929d59c83?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
        alt=""
        class="pop-img"
      />
    </div>
    <p class="pop-text">Lorem.</p>
  </span>
  <span class="pop flex-container">
    <div class="pop-img-container">
      <img
        src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"
        alt=""
        class="pop-img"
      />
    </div>
    <p class="pop-text">Lorem.</p>
  </span>
  <span class="pop flex-container">
    <div class="pop-img-container">
      <img
        src="https://images.unsplash.com/photo-1657003963857-ec800f2cce43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=702&q=80"
        alt=""
        class="pop-img"
      />
    </div>
    <p class="pop-text">Lorem.</p>
  </span>
</div>